<%= "No requests found" if user_requests.empty? %>
<% user_requests.each do |request| %>
  <%= "<b>Method:</b> #{request.method} <b>Status:</b> #{request.response_status_code} <b>URL:</b> #{request.url}" %></br>
  <pre><%= request.body %></pre>
  <% if request.request_file_path != "" %>
    <a href="/<%= request.request_file_path%>"><%= request.request_file_path%></a><br/>
    Type: <%= request.request_file_type%>
  <% end %>
  <hr/>
<% end %>
